.Titulo{
    color: black;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;

}
.Mensanje{

    color: black;
    font-size: 12px;
}

.Regristro{

    color: black;
    font-size: 18px;
}
